<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">



    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
        <!--   <li>
            <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img class="avatar" src="{{ 'assets/from-wordpress/uploads/2011/03/wattnowlogo-bcard-150x150.png' | relative_url }}" /></a>
          </li> -->

            <h2 class="footer-heading">
              <a rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
            </h2>
          </li>
        </ul>

      </div>
      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li class="p-name">Alki Delichatsios</li>
          <li>
            <a href="https://www.twitter.com/alkidel" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username"> </span></a>
            <a href="https://github.com/alkidel" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username"> </span></a>
            <a href="https://www.linkedin.com/in/alki-delichatsios-84b8922/" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username"> </span></a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>From 2011 to 2014, Watt Now was a platform to discover the innovative cleantech world, highlighting 100+ companies and projects.</p>
      </div>
    </div>

  </div>

</footer>
